*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# pycharm
.idea/

# erp_mpro
migrations/
ArquivosXML/
arquivos/
setup.py
erp_mpro/configs/configs.py
erp_mpro/media/imagens/usuarios/
.env
.venv/
*.sqlite3
env/

setup_server.py